@import "bootstrap/bootstrap-grid.scss";
@import "bootstrap/bootstrap-reboot.scss";
@font-face{
    font-family: "Helvetica_neue";
    src: url(../fonts/HelveticaNeueCyr-Medium.woff2);
    font-weight: 400;
    font-style: normal;
}

html, body
{
    height: 100%;
    width: 100%;
    font-family: "Helvetica_neue";
}
body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-side {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 373px;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    color:#0000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    .logo {
        position: absolute;
        left: auto;
        top:0px;
        margin-top: 50px;
    }
    .auth-text ,.auth-inter{
        color:black;
        display: inline-block;
        align-self: center;
    }
    .auth-text {
        width: 118px;
        font-weight: 400;
        font-size: 14px;
    }
   
}
.auth-button,.auth-number,.auth-password {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 2px;
    margin-top: 15px;
    padding-right: 5px;
}
.auth-assist {
    text-align: center;
    margin-top: 15px;
}
.auth-button{
    color:white;
    background-color: #0029CD;
}

.services {
    width: 960px;
    height: 560px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    align-self: center;
    padding: 56px;
    .navigation{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        .item{
            margin-right: 20px;
            padding: 5px 8px;
        }
        .inter {
            align-self: flex-end;
        }

    }
    .active{
        background: #0029CD;
        border-radius: 60px;
        a{
            color: white;
        }
     }
    .products {
        display: inline-flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 752px;
        height: 264px;
        flex-wrap: wrap;
        margin: 90px 90px 90px 0;
        .products-items {
            height: 100px;
            width: 210px;
            .vallet {
                background-position-y: -32px;
            }
            .arrows {
                background-position-y: -64px;
            }
            .card-front {
                background-position-y: -96px;
            }
            .support {
                background-position-y: -128px;
            }
            .card-back {
                background-position-y: -160px;
            }

            .products-name{
                font-size: 16px;
                font-weight: 600;
                line-height: 16px;
                display: inline-flex;
                align-items: center;
            }
            .description {
                font-weight: 300;
                font-size: 14px;
            }
        }
    }
    
}
.sprite {
    width: 32px;
    height: 32px;
    background-image: url(../img/sprite.svg);
    display: inline-flex;
    .auth-inter{
        background-position-y: 10px;
    }
}

